.search-box{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.input-box input{
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.search-box button{
  padding: 10px 20px;
  cursor: pointer;
}