h1{
  text-align: center;
  margin-bottom: 4 0px;
}

.app {
  min-height: 100vh;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

.theme-btn {
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.dark .theme-btn {
  background-color: #333;
  color: white;
}

.theme-btn:hover {
  opacity: 0.9;
}